@use "../abstracts/" as a;

.controls {
    &__button {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__button:hover {
        background-color: var(--control);
    }
}